<!DOCTYPE html>

<html>
	<head>
		<title>Task Manager</title>
		<link rel="icon" href="/img/star.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			{{tasks}}
		</div>
		{{>footer}}
	</body>
</html>