<!DOCTYPE html>

<html>
	<head>
		<title>Task Manager</title>
		<link rel="icon" href="/img/star.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="main-content">
			<h1>{{title}}</h1>
			<form action="/login" method="POST" onsubmit="return validatePassword()">
				<input name="email" placeholder="email"><br>
				<input name="password" id="password" type="password" placeholder="password"><br>
				<button type="submit">Log In</button>
				<button type="submit" formaction="/signup">Create Account</button>
			</form>
			<p id="val_err"></p>
		</div>
		{{>footer}}
		<script src="\js\login_validation.js"></script>
	</body>
</html>
