<header>
	<h1>{{title}}</h1>

	<table id="nav_table"><tr>
	<td><a href="/">My Tasks</a><a href="">Filter/Search</a><a href="/me">Profile</a></td>
	<td><a href="/logout"><button>Log Out</button></a></td>
	</tr></table>
</header>