body {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 16px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	flex-grow: 1;
}

.center-content {
	text-align: center;
}

.center-content button {
	width: 200px;
}

footer {
	color: #888888;
	border-top: 1px solid #eee;
	margin-top: 16px;
	padding: 16px 0;
}

header {
	margin-top: 16px;
	margin-bottom: 48px;
}

h1 {
	font-size: 64px;
	font-family: Beleren;
	margin-bottom: 48px;
}

header h1 {
	font-size: 64px;
	font-family: Beleren;
	margin-bottom: 16px;
}

h3 {
	font-style: normal;
	margin-bottom: 8px;
}

#val_err {
	color: red
}

#val_msg {
	color: green
}

header a {
	color: #888;
	margin-right: 16px;
	text-decoration: none;
}

.portrait {
	width: 250px;
}

input {
	border: 1px solid #ccc;
	padding: 8px;
	margin: 2px 0;
}

button {
	cursor: pointer;
	border: 1px solid #888;
	background: #888;
	color: white;
	padding: 8px;
	margin: 2px 0 4px;
}

#del_button {
	text-align: center;
}

#del_button button {
	background-color: red;
	border: 1px solid red;
	padding: 8px 16px;
}

#nav_table {
	border-collapse: collapse;
	width: 100%;
	padding: 0;
	margin: 0;
}

#nav_table td {
	padding: 0;
	width: 80%;
}

#nav_table td:last-child {
	text-align: right;
}

#task_list {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
}

#task_list td {
	border-bottom: 1px solid #ccc;
	padding: 16px;
	padding-top: 12px;
	padding-bottom: 24px;
}

#task_list td:nth-child(even){
	text-align: center;
	width: 64px;
}

#task_list th {
	border-top: 1px solid #ccc;
	background-color: #eee;
	padding: 24px;
	padding-top: 12px;
	padding-bottom: 8px;
	text-align: left;
}

#task_list th:nth-child(even){
	text-align: center;
	width: 64px;
}

.done {
	color: green
}

.todo {
	color: red;
}

#task {
	border-collapse: collapse;
	margin-bottom: 64px;
	width: 100%;
}

#task td {
	padding: 0 0 2px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #888;
}

#task td:nth-child(even){
	text-align: center;
	width: 100px;
	line-height: 20px;
}

#task input {
	border: 1px solid #ccc;
	padding: 8px;
	margin: 0;
	width: 96%;
}

#task button {
	cursor: pointer;
	border: 1px solid #888;
	background: #888;
	color: white;
	padding: 8px;
	margin: 0;
	width: 100%;
}

#task textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px solid #ccc;
	padding: 8px;
	margin: 0;
	width: 96%;
}

#user {
	width: 100%;
	margin-bottom: 64px;
}

#user td {
	text-align: center;
	width: 50%;
}

#user td:nth-child(even) {
	text-align: left;
}

#user input {
	width: 200px;
}

#user button {
	width: 218px;
}


#choose_avatar {
	font-size: 12px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #888;
	background: #888;
	color: white;
	padding: 8px 0;
	margin: 2px 0 4px;
	width: 216px;
}

#choose_avatar label {
	cursor: pointer;
	padding: 8px 59px;
	margin: 0;
}

#choose_avatar input {
	display: none;
}